<footer>
  <div class="wrapper">
    <div class="striped"></div>
  </div>
  <div class="ui inverted vertical footer segment form-page">
    <div class="ui container"><p>&copy; Media Actions</p>2018. All Rights Reserved
    </div>
  </div>
</footer>
</body>
