</page>
<footer  class="site-footer">
    <div class="wrapper">
        <div class="striped"></div>
    </div>
    <center>
      <div class="ui inverted vertical footer segment form-page">
          <div class="ui container"><p>&copy; Media Actions</p>2018. All Rights Reserved <br><br>

            <button class="ui facebook button" onclick="window.location.href='https://www.facebook.com/mediaactionsfr'">
              <i class="facebook icon"></i>
              Facebook
            </button>
            <button class="ui twitter button" onclick="window.location.href='https://twitter.com/mediaactionsfr'">
              <i class="twitter icon"></i>
              Twitter
            </button>
            <button class="ui google plus button" onclick="window.location.href='https://groups.google.com/forum/#!forum/mediaactions'" >
              <i class="google plus icon"></i>
              Google Plus
            </button>
            <button class="ui linkedin button" onclick="window.location.href='https://www.facebook.com/mediaactionsfr'" >
              <i class="linkedin icon"></i>
              LinkedIn
            </button>
            <button class="ui instagram button" onclick="window.location.href='https://www.facebook.com/mediaactionsfr'" >
              <i class="instagram icon"></i>
              Instagram
            </button>
          </div>
      </div>
    </center>
</footer>
</body>
