<%- include layout.ejs %>

<h1><%= title %></h1>
<div class="row">
    <div class="col-lg-4"></div>
    <div class="boxGallery col-lg-4 text-center">
      <% var i = 0; while (i < nbImages) { %>
        <%- data[i] %><br>
      <% i++}%>
    </div>
    <div class="col-lg-4"></div>
</div>
<%- include footer.ejs %>
