<%- include layout.ejs %>
<div class="row">
    <div class="col-lg-12 text-center"><h1>Media Actions</h1></div>
</div>
<div class="row">
    <div class="col-lg-12 text-center"><p>Bienvenue sur Media Actions, le site de vente de photos en ligne.</p></div>
</div>
<%- include footer.ejs %>
