<!DOCTYPE html>
<html>
<head>
  <title>Media Actions</title>
    <meta charset='utf-8'/>
    <meta name='viewport', content='width=device-width, initial-scale=4 '/>
    <link rel="stylesheet" href="/semantic/semantic.min.css">
    <style>
      .main.container{
      margin-top: 70em;
      }
    </style>
</head>
<body>
  <div class="ui fixed inverted menu">
    <a href="/" class="header item"> Home </a>
    <% if (typeof user === 'undefined') { %>
    <a href="/login" class="header item"> Login </a>
    <a href="/register" class="header item"> Register </a>
    <a href="/contact" class="heade item"> Contact</a>
      <a href="/gallery" class="header item"> Gallery</a>
    <% } else { %>
    <a class="header item">Welcome <%= user.username %></a>
    <a href="/hub" class="header item"> Hub </a>
    <a href="/gallery" class="header item"> Gallery</a>
    <a href="/stripe" class="header item"> Stripe</a>
    <a href="/logout" class="header item"> Logout </a>
    <a href="/contact" class="heade item"> Contact</a>
    <% } %>
  </div>
</body>
<br>
