<%- include layout.ejs %>

  <h1> Login </h1>
  <p> Indiquez votre login et votre mot de passe </p>
  <form action="" method="POST">
    Email: <input type="text" name="email"><br>
    Password: <input type="password" name="password"><br>
    <input type="submit" value="Submit">
  </form>
<%- include footer.ejs %>
