<%- include layout.ejs %>
<div class="row">
    <div class="col-lg-12 text-center"><h1>My purchases</h1></div>
</div>
<div class="row">
    <div class="col-lg-12 text-center">
       <p>TEST DETAILS ACHATS <%= user %></p>
    </div>
</div>
<%- include footer.ejs%>