<%- include layout.ejs %>

<div class="row">
    <div class="col-lg-4"> </div>
    <div class="col-lg-4 text-center">
        <h1>Registration</h1>
    </div>
    <div class="col-lg-4"> </div>
</div>
<div class="row">
<!--
  <form action="/register" method="post">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" name="email">
    </div>
    <div class="form-group">
      <label for="email">Username</label>
      <input type="text" class="form-control" name="username">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" name="password">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" name="passwordConf">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
<form role="form" action="/auth/google" method="get">
  <button type="submit" class="btn btn-lg btn-primary btn-block">LOGIN with Google</button>
</form>-->

<div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">Sign Up</div>
      <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="/login">Sign In</a></div>
    </div>
    <div class="panel-body" >
      <form id="signupform" class="form-horizontal" role="form" action="/register" method="post">

        <div id="signupalert" style="display:none" class="alert alert-danger">
          <p>Error:</p>
          <span></span>
        </div>



        <div class="form-group">
          <label for="email" class="col-md-3 control-label">Email</label>
          <div class="col-md-9">
            <input type="text" class="form-control" name="email" placeholder="Email Address">
          </div>
        </div>

        <div class="form-group">
          <label for="username" class="col-md-3 control-label">Username</label>
          <div class="col-md-9">
            <input type="text" class="form-control" name="username" placeholder="Username">
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="col-md-3 control-label">Password</label>
          <div class="col-md-9">
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <label for="passwordConf" class="col-md-3 control-label">Password Confirmation</label>
          <div class="col-md-9">
            <input type="password" class="form-control" name="passwordConf" placeholder="Password Confirmation">
          </div>
        </div>
          
          <div class="form-group">
          <label for="passwordConf" class="col-md-3 control-label">Preference</label>
          <div class="col-md-9">
              <select class="custom-select col-md-14 control-label form-inline" id="inlineFormCustomSelect">
                            
                            <option value="1">Photographer</option>
                            <option value="2">Journalist</option>
                  </select>          
              </div>
        </div>
       

       
        <div class="form-group">
          <!-- Button -->
          <div class="col-md-offset-3 col-md-9">
            <button type="submit" id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Sign Up</button>
            <span style="margin-left:8px;">or</span>
          </div>
        </div>
      </form>
        <div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">

            <div class="col-md-offset-3 col-md-9">
                <form role="form" action="/auth/google" method="get">
                    <button type="submit" class="btn btn-primary">LOGIN with Google</button>
                </form>
            </div>

        </div>
    </div>
  </div>
</div>
</div>

<%- include footer.ejs %>
