<%- include layout.ejs %>

  <h1>Inscription </h1>
  <p> Remplissez les informations pour vous inscrire </p>

  <form action="/">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" name="email">
    </div>
    <div class="form-group">
      <label for="email">Username</label>
      <input type="text" class="form-control" name="username">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" name="password">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" name="passwordConf">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>


        /*
            div.form-group
              label(form='email') Email:
              input#email.form-control(type='text', name='email' value='')
              label(form='username') Username:
              input#username.form-control(type='text', name='username' value='')
              label(form='password') Password:
              input#password.form-control(type='password', name='password' value='')
              label(form='passwordconf') Password confirmation:
              input#passwordconf.form-control(type='password', name='passwordConf' value='')
              p
              button.btn.btn-primary(type='submit') Inscription
              if error
                p#error= errorText
                */
